@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

body{
  font-family: 'Open Sans', sans-serif;
  margin:auto;
  background-color: #EEEEEE;
}
#wrapper {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00227b;
}

li {
  float: left;
}

li a {
  font-weight: 100;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header{
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  background:#3f50b5;
  padding-top:5px;
  padding-bottom: 5px;
  min-height:70px;
}
article {
  width: 100%;
  background-color: white;
  padding: 10px;
  padding-left: 30px;
  margin: 25px;

  float: left;
  font-weight: 100;
}
h1 {
    font-weight: 300;
    font-size: 48px;
    color: white;
}
h2 {
    font-weight: 100;
    font-size: 28px;
}
h3 {
    font-weight: 100;
    font-size: 21px;
}
.btn {
  position: relative;
  float: left;
  margin: 30px auto;
  padding: 0;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color:  #00227b;
  color: #ecf0f1;
  transition: background-color .3s;
}
.btn:hover, .btn:focus {
  background-color: #3f51b5;
}
.btn span {
  display: block;
  padding: 12px 24px;
}
.btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(236, 240, 241, .3);
  transform: translate(-50%, -50%);
}
.btn:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width .2s ease-out, padding-top .2s ease-out;
}

.tap {
  position: relative;
  float: left;
  padding: 0;
  overflow: hidden;
  border-width: 0;
  outline: none;
  background-color:  #00227b;
  color: #ecf0f1;
  transition: background-color .3s;
}
.tap:hover, .btn:focus {
  background-color: #3f51b5;
}
.tap span {
  display: block;
  padding: 12px 24px;
}
.tap:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(236, 240, 241, .3);
  transform: translate(-50%, -50%);
}
.tap:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width .2s ease-out, padding-top .2s ease-out;
}
